body {
    background-color: black;
    color: white;
    font-size: 20px;
}
/* table {
    color: white;
    padding: 3px;
    margin: 4px;
}
td {    
    min-width: 150px;
    max-width: 150px;
    border: 1px solid white;
}
tr:hover {
    background-color: #36c7a879;
}
button {
    border-radius: 100%;
    width: content;
    height: 60px;
    background-color: midnightblue;
    border: 0;
    color: white;
    font-size: 14pt;
} */
table, th, td {  
    border: 2px solid white;  
    border-collapse: collapse;  
  } 