* {
  color: white;
}

button {
  background-color: black;
}

body {
  background-color: black;
  font-size: 20px;
}

table,
th,
td {
  border: 2px solid white;
  border-collapse: collapse;
}

td {
  width: 20px;
}

input {
  color: white;
  background-color: black;
  border: none;
}

input :active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

ul {
  padding: 0;
}

li {
  text-decoration-line: underline;
  list-style-type: none;
}
.fetchGoesHere td{
  width: auto;
}
